.body-container {
  max-width: 1920px;
  width: 100%;
  min-height: 1200px;
  min-width: 300px;
  row-gap: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: 80%;
  margin: 10px auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 50px 20px;
  justify-content: space-around;
}
.header .header-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .header-content .header-text-effect {
  display: inline-block;
  animation: heartBeat;
  animation-duration: 5s;
}
.header .button {
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 10px;
  background-color: #FED233;
  color: #000;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .button:hover {
  background-color: rgb(124, 166, 214);
}

.animation {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 60px;
  position: relative;
}
.animation .block1 {
  width: 50px;
  height: 50px;
  animation: move1 5s infinite;
  position: absolute;
  border: 1px solid #000;
}
@keyframes move1 {
  0% {
    left: 30px;
    background: blue;
  }
  50% {
    left: 49%;
    background: blue;
  }
  100% {
    left: 30px;
    background: yellow;
  }
}
.animation .block2 {
  width: 50px;
  height: 50px;
  animation: move2 5s infinite;
  position: absolute;
  border: 1px solid #000;
}
@keyframes move2 {
  0% {
    right: 30px;
    background: yellow;
  }
  50% {
    right: 49%;
    background: yellow;
  }
  100% {
    right: 30px;
    background: blue;
  }
}

.content-wrapper {
  min-height: 870px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.content-wrapper li {
  font-size: 24px;
}
.content-wrapper li a {
  font-size: 20px;
}
.content-wrapper a {
  transition: all 0.5s linear;
}
.content-wrapper a:hover {
  font-size: 24px;
  font-weight: bold;
}
.content-wrapper .mytext {
  font-size: 20px;
}

.content-block1, .content-block2, .content-block3 {
  width: 32%;
  min-height: 790px;
  box-sizing: border-box;
  border: 1px double #000;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
@media screen and (max-width: 1230px) {
  .content-block1, .content-block2, .content-block3 {
    width: 100%;
    margin: 10px auto;
  }
}

.content-block1, .content-block3 {
  background-color: rgb(124, 166, 214);
}

.content-block2 {
  background-color: rgb(222, 233, 126);
}

.footer {
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff;
}

@media screen and (max-width: 1230px) {
  .header,
  .content-wrapper,
  .animation,
  .footer {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */